*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body{
    background-color: #ECECE2;
}

a{
    text-decoration: none;
    color:#ECECE2;
    transition: color .3s;
}

a:hover{
    cursor: pointer;
    color: #483838;
}

li{
    list-style: none;
}

.container{
    width: 90%;
}

main{
    width: 100%;
    height: calc(100vh - 120px);
}